* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.7;
}
.header {
  background-color: white;
  padding: 15px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav {
  display: flex;
  gap: 20px;
}
.logo {
  display: flex;
  gap: 10px;
  font-weight: bold;
  align-items: center; 
}
.nav a {
  color: pink;
  text-decoration: none;
  padding: 10px 14px;
  border-radius: 20px;
  transition: 0.3s;
}
.nav a:hover {
  background-color: rgb(255, 172, 186);
  color: white;
}
.glav {
  background-color: pink;
  text-decoration: none;
  padding: 100px 20px;
  color: white;
  text-align: center;
}
.glav h1 {
  font-size: 34px;
  margin-bottom: 25px;
}
.glav p {
  margin-bottom: 40px;
  font-size: 18px;
}
.button {
  color: pink;
  text-decoration: none;
  padding: 14px;
  background-color: white;
  border-radius: 20px;
}
.button:hover{
  background-color: rgb(255, 172, 186);
  color: white;
}
.logo_f{
  width: 50px;
  height: 50px;
}
.logo_t{
  font-size: 22px;
  color: pink;
  font-weight: bold;
}
.catalog{
  display: flex;
  gap: 30px;
  padding: 40px;
}
.filter{
  width: 250px;
  border: 2px solid pink;
  border-radius: 20px;
  padding: 20px;
}
.cards{
  flex-wrap: wrap;
  display: flex;
  gap: 20px ;
  padding: 10px 14px;
  border-radius: 15px ;
}
.card{
  background-color: pink;
  color: white;
  padding: 15px;
  border-radius: 10px;
}
.product{
  width: 250px;
  height: 300px;
  border-radius: 15px;
}
.icon_p{
  width: 20px;
  background-position:right;
}
.about {
  background-color: white;
  color: rgb(190, 126, 137);
  border-radius: 15px;
}