* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.7;
}
.heder {
  background-color: white;
  color: pink;
  padding: 15px 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.nav {
  display: flex;
  flex-direction: column;
  gap: 10px;
  flex-wrap: wrap;
}
.logo {
  font-weight: bold;
}
.nav a {
  color: white;
  text-decoration: none;
  padding: 14px;
  background-color: pink;
  border-radius: 5px;
  text-align: right;
}
.nav a:hover {
  background-color: rgba(255, 192, 203, 0.389);
}
.glav {
  background-color: pink;
  text-decoration: none;
  padding: 10px;
  color: white;
  text-align: center;
}
.glav h1 {
  font-size: 34px;
  margin-bottom: 15px;
}
.a button {
  color: white;
  text-decoration: none;
  padding: 14px;
  background-color: white;
  border-radius: 5px;
}

