* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.7;
}
.header {
  background-color: white;
  padding: 15px 20px;
  display: flex;
  justify-content: space-between;
  gap: 10px;
}
.nav {
  display: flex;
  gap: 10px;
}
.logo {
  font-weight: bold;
}
.nav a {
  color: pink;
  text-decoration: none;
  padding: 14px;
  border-radius: 5px;
  text-align: center;
}
.nav a:hover {
  background-color: rgb(180, 93, 107);
}
section {
  background-color: pink;
  text-decoration: none;
  padding: 10px;
  color: white;
  text-align: center;
}
.glav h1 {
  font-size: 34px;
  margin-bottom: 15px;
}
.button {
  color: pink;
  text-decoration: none;
  padding: 14px;
  background-color: white;
  border-radius: 5px;
}
